<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="wfsClient" class="mil.navy.geomap.mps.impl.LegacyWfsClient" scope="prototype" />
	
	<bean id="mpsImpl" class="mil.navy.geomap.mps.impl.MPSMockImpl" scope="prototype" >
		<property name="wfsClient">
			<ref bean="wfsClient"/>
		</property>
	</bean>

	

</beans>